.title-text{
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom:1px solid black;
}

.customerlist-container {
    margin: auto;
    margin-top: 20px;
    border: 1px solid black;
    width: 30%;
    align-items: center;
    border-radius: 5px;
}

.customeremail-list{   
    list-style-type: none;
}

.customeremail-list li{
    margin-top: 15px;
    text-align: left;
    color: black;
}